<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="icon" href="{{url_for('static',filename = 'images/cart.png')}}">
	<title>Add a new product</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Sriracha|Raleway&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'css/style.css')}}">
</head>
<body>
	<div class="wrapper add-product">
		<div class="navbar">
			<a href="#" class="left-navbar">
				<img class="img-fluid" src="{{url_for('static', filename = 'images/cart.png')}}" >
				<h3>2ndhnd</h3>
			</a>
			<ul>
				<li><a href="/profile">Profile</a></li>
				<li><a href="/logout">Log out</a></li>
			</ul>
		</div>
		<center>
			<form  action="/process/edit/product/{{product_info['id']}}" method="POST" enctype="multipart/form-data">
				<table>
					<tr>
						<td><label for="product_name">Product name:</label></td>
						<td><input type="text" name="product_name" id="product_name" class="form-control" placeholder = "{{product_info['product_name']}}" value="{{product_info['product_name']}}" ></td>
					</tr>
					<tr>
						<td><label for="select_category">Category:</label></td>
						<td>
							<select name="select_category" id="select_category" class="form-control" >
								<!-- <option value="{{product_info['category_name']}}" disabled selected hidden>{{" ".join(product_info['category_name'].title().split("_"))}}</option> -->
								{%for category in all_categories%}
									<option value="{{category['id']}}">{{" ".join(category['category_name'].title().split("_"))}}</option>
								{%endfor%}
							</select>
						</td>
					</tr>
					<tr>
						<td><label for="price">Price $:</label></td>
						<td><input type="text" name="price" id="price" class="form-control" placeholder="{{product_info['price']}}" value="{{product_info['price']}}"></td>
					</tr>
					<tr>
						<td><label for="product_description">Description</label></td>
						<td><textarea cols="38" rows="4" name="product_description" id="product_description" class="form-control">{{product_info['product_description']}}</textarea></td>
					</tr>
					<tr>
						<td><label for="upload-img">Upload Image:</label></td>
						<td><input type="file" name="upload-img" id="upload-img" class="form-control-file" placeholder="product['image']" value="product['image']"></td>
					</tr>
					<tr>
						<td><a href="/success" class="btn btn-danger">Skip</a></td>
						<td id="add-new-product"><input type="submit" name="register" value="Edit" class="btn btn-danger"></td>
					</tr>
				</table>
			</form>
			<div class="flash-messages">
				{% with messages = get_flashed_messages() %}     
					{% if messages %}                            
						{% for message in messages %}            
				 		   <p>{{message}}</p>                   
						{% endfor %}
					{% endif %}
				{% endwith %}
			</div>
		</center>
		<footer>
			<div class="links">
				<p>Made in <img src="{{url_for('static', filename = 'images/kosovo.svg')}}" title = "Kosovo">  with  <i id="heart" class="fa fa-heart" aria-hidden="true"></i></p>
				<div class="social-icons">
					<a href="https://www.facebook.com/diellza.aliu.31945?ref=bookmarks" target="_blank"><i class="fa fa-facebook"></i></a>
					<a href="https://twitter.com/dielllza_" target="_blank"><i class="fa fa-twitter"></i></a>
					<a href="https://www.instagram.com/_2ndhnd_/" target="_blank"><i class="fa fa-instagram"></i></a>
				</div>
				<p>Icons from<a href="https://www.flaticon.com/" title="Flaticon"><img  id="flaticon" src="{{url_for('static', filename = 'images/flaticon.png')}}"></a></p>
			</div>
		</footer>
	</div>
</body>
</html>