<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="icon" href="{{url_for('static',filename = 'images/cart.png')}}">
	<title>Sign up · 2nd Hand</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Sriracha|Raleway&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'css/style.css')}}">
</head>
<body>
	<div class="wrapper signup-login">
		<content> 
			<img class="img-fluid" src="{{url_for('static', filename = 'images/cart.png')}}" >
			<h2>Wellcome to <span class="brand-name">2ndhnd</span></h2>
			<form action="/process/new/user" method="POST">
				<table>
					<p>Buy/Sell anything</p>
					<tr>
						<td><label for="first_name">First name:</label></td>
						<td><input type="text" name="first_name" id="first_name" class="form-control" ></td>
					</tr>
					<tr>
						<td><label for="last_name">Last name:</label></td>
						<td><input type="text" name="last_name" id="last_name" class="form-control" ></td>
					</tr>
					<tr>
						<td><label for="email">Email address:</label></td>
						<td><input type="text" name="email" id="email" class="form-control" ></td>
					</tr>
					<tr>
						<td><label for="phone_numberp">Phone Number:</label></td>
						<td><input type="text" name="phone_number" id="phone_number" class="form-control" placeholder="+383 45 111 111 (Kosovo)"></td>
					</tr>
					<tr>
						<td><label for="password">Password:</label></td>
						<td><input type="password" name="password" id="password" class="form-control" ></td>
					</tr>
					<tr>
						<td><label for="confirm_password">Confirm password: </label></td>
						<td><input type="password" name="confirm_password" name="confirm_password" class="form-control"></td>
					</tr>
				</table>
				<input type="submit" name="register" value="Sign up" class="btn">
			</form>
			<div class="flash-messages">
				{% with messages = get_flashed_messages() %}     
					{% if messages %}                            
						{% for message in messages %}            
				 		   <p>{{message}}</p>                   
						{% endfor %}
					{% endif %}
				{% endwith %}
			</div>
			<p>Already have an account? <a href="/login">Log in</a></p>
		</content>
		<footer>
			<div class="links">
				<p>Made in <img src="{{url_for('static', filename = 'images/kosovo.svg')}}" title = "Kosovo">  with  <i id="heart" class="fa fa-heart" aria-hidden="true"></i></p>
				<div class="social-icons">
					<a href="https://www.facebook.com/diellza.aliu.31945?ref=bookmarks" target="_blank"><i class="fa fa-facebook"></i></a>
					<a href="https://twitter.com/dielllza_" target="_blank"><i class="fa fa-twitter"></i></a>
					<a href="https://www.instagram.com/_2ndhnd_/" target="_blank"><i class="fa fa-instagram"></i></a>
				</div>
				<p>Icons from<a href="https://www.flaticon.com/" title="Flaticon"><img  id="flaticon" src="{{url_for('static', filename = 'images/flaticon.png')}}"></a></p>
			</div>
		</footer>
	</div>
</body>
</html>